<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         testdox="true"
         cacheDirectory="runtime/cache/phpunit">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="API">
            <directory>tests/Api</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="runtime/coverage" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="runtime/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <env name="APP_DEBUG" value="true"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_NAME" value="empiredown"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value=""/>
    </php>
</phpunit>
